<br>
<h3><span class="green-with-space header-space">List of Works</span></h3>
<h4 class="margin">Movies</h4>
  <%= render partial: "all_works", locals: { action_name: "movie" } %>

<h4>Books</h4>
  <%= render partial: "all_works", locals: { action_name: "book" } %>

<h4>Albums</h4>
  <%= render partial: "all_works", locals: { action_name: "book" } %>



