<h3><span class="green-with-space">User Summary: <%="insert Name"%></span></h3>
<p>Joined site INSERT DATE</p>
<h4>Movies</h4>
<table class="table">
    <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>    
        <th>Category</th>
        <th>Voted On</th> 
    </tr>

  
</table>
