/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

.orange-header{
    font-weight: bold;
    font-size: 34px;
    color: #ff5721 !important;
}

.white-title{
    color:white;
    font-size: 32px;
    font-weight: 300;

}

.headerwords{
    padding: 40px 60px 60px 60px;
    margin: 0px 0px 0px 0px;
    background-color: #b2dfdb;
}

.white-line{
    font-size: 50px;
    font-weight: 200;
}

.btn-group {
    background-color: #b2dfdb ;
    color: #25a69a;
    border: none;
    margin: none;
    padding: none;
}

.flash-msg__section {
    background-color:#d4edda ;
    color:#176b63 ;
    font-weight: lighter;
    margin: 50px 0px 0px 0px;
    
}

.nav-item {
    background-color: #b2dfdb ;
    padding: 20px 20px 10px 20px ; 
    border: none;
    // margin-bottom: -200px;
}

.underlined{
    text-decoration: underline;
    color: #25a69a;
}

.round{
    border-radius: 10px;
    margin: 3px;
    padding: 10px 10px 10px 20px ; 
    background-color: #25a69a;
    color: white;
    // margin-top: -200px;
}

a{
    color: #25a69a;
}

a:hover{
    color:#176b63;
}

button a {
    color: white;
}