/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

.orange-header{
    font-weight: bold;
    font-size: 34px;
    color: #ff5721;
}

.white-title{
    color:white;
    font-size: 32px;
    font-weight: 300;

}

.headerwords{
    padding: 40px 60px;
    margin: 0px;
    background-color: #b2dfdb;
    
}

.white-line{
    font-size: 50px;
    font-weight: 200;
}

.btn-group {
    background-color: #b2dfdb;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #25a69a;
    margin: 0px;
}

