// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// homepage
.spotlight{
    border-bottom: lightgray;
    border-width: 4px;
   
    padding: 30px;
}
.header-space{
    padding: 20px;
    
}

.green_title{
    font-weight: bold;
    font-size: 20px;
    color: #25a69a;
}

.gray_creator{
    font-size: 18px;
    color: rgb(158, 154, 154);
}

.green{
    color: #25a69a;
}

.btn-primary{
    color: white !important;
    background-color:#25a69a ;
    border: none;
    margin: 5px;
    padding: 5px !important;
}

.gray{
    background-color:#626363 ;
}


.green-with-space{
    color: #25a69a;
}

table{
    margin: 15
    px;
}

.greenline{
    border: 1px solid #25a69a;
}

.margin{
    margin-left: 20px;
}